.bookmarks a {
  float:left;  
  width:124px;
  height:124px;
}

.bookmarks img {
  width:120px;
  height:120px;
  border-width:1px;
  border-right-style:solid;
  border-bottom-style:solid;
}

.bookmarks .title {
  width:120px;
  text-align: center;
}